
<% if current_user? %>
	
	<div style="padding-top: 30px">
		<div class="center-block"　>
  			<h2 style="background: #FFFFFF;
	padding: 20px 0;text-align: center">会話</h2>
		</div>
		
		
		<% @comments.each do |comment| %>
			<%if session[:user_name] == comment.user_name%>
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h2 class="panel-title"><%= comment.user_name%></h2>
				</div>
				<div class="panel-body">
					<h3><%= comment.comment%></p></h3>
				</div>
			</div>
			<%else%>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h2 class="panel-title" style="text-align: right;"><%= comment.user_name%></h2>
				</div>
				<div class="panel-body">
					<h3 style="text-align: right;"><%= comment.comment%></p></h3>
				</div>
			</div>
			<% end %>
			
		
		<% end %>
		<%= form_tag(action: "create") do%>
		<div style="text-align: center">
			<%= text_field_tag(:comment) %>
			<%= submit_tag 'コメント',:class => "btn btn-default" %>
		</div>
		<% end %>
		
	</div>
<% end %>

